.fixed-image{
    width: 100%;
    max-width: 500px;
    height: auto;
    object-fit: cover;
    padding-top: 2rem;
}

.navbar-1{
    background-color:#ECECEC; 
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
}

.custom-card, .custom-card-1{
    background-color: #ECECEC;
    border-radius: 45px;
    display: flex;
    margin-top: 0.5rem;
    width: 100%;
    max-width: 40rem;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    text-align: center;
    justify-content: center;
    padding: 1rem;
}


@media (max-width: 767px){
    .image-container img{
        max-width: 100%;
        height: auto;
    }
    .form-title{
        font-size:1.25rem;
    }
}

@media (min-width: 768px) and (max-width: 991px){
    .image-container img{
        max-width: 90%;
        height:auto;
    }
    .upload-btn, .file-btn{
        font-size: 0.875rem;
        padding: 0.5rem;
    }
    .custom-card, .custom-card1{
        padding: 1rem;
    }
    .upload-btn, .file-btn{
        font-size: 0.875rem;
        height: 2rem;
    }
    .title{
        font-size: 1.5rem;
    }
}

@media(min-width: 992px){
    .image-container img{
        max-width: 80%;
        height: auto;
    }
}

.title{
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    color: black;
    text-align: center;
}

.file-btn{
    width:80%;
    height: 3rem; 
    max-width: 20rem;
    padding: 1rem;
    border-radius: 45px;
    text-align: center;
    white-space: nowrap;
}

.upload-btn{
    width:80%;
    height: 2rem; 
    max-width: 20rem;
    background-color: #55d67f;
    padding: 0.5rem;
    border-radius: 45px;
    text-align: center;
    white-space: nowrap;
}

.bottom-navbar{
    position: relative;
    background-color: black;
    overflow: hidden;
    display: flex;
    z-index: 0;
    color: white !important;
    align-items: center;
    justify-content: center;
    width: 100%;
    bottom: 0;
    padding: 1rem;
    height: 3rem;
}


.custom-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 1rem;
}

.form-title{
    margin-bottom: 2rem;
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.container-fluid{
    text-align: center;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
}

.spinner{
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    animation: spinner 1s linear infinite
}

@keyframes spinner{
    0% {transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}

#loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none; 
    z-index: 9999;
}